
/*Global background texture*/
body {
  background-image: url(images/backgrounds/so-white/so-white.png);
  color: #363636;
  font-family: 'Roboto Condensed', sans-serif;
}

/*Text Styling*/
h1, h2, h3, h4 {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

h1 {
  font-size: 30px;
}

h1 > span.light-text {
  font-weight: 300;
}

p {
  font-size: 16px;
}

nav a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 35px 25px 15px 25px;
}

/*Cool Little Divider*/
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*Sizing semantic containers*/
header {
text-align: center;
padding: 60px 0px 30px 0px;
}

nav {
   width: 50%;
   padding: 25px 0px;
   background-image: url(images/backgrounds/so-white/so-white.png);
   z-index: 10;
}

main > div {
  width: 30%;
  text-align: center;
  padding: 20px 0px;
  margin: auto;
}

main > div#contact {
  width: 100%;
  z-index: 10;
}

/*This cool little CSS trick makes the navbar stick to the top!*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/*Styling the link images for LinkedIn, Github and Email!*/
.fa {
  padding: 25px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: #A2805B;
}

/*Pseudo-classes for links*/
a:link {color: #A2805B;}
a:visited { color: #A2805B;}
a:hover { color: #363636; transition: 0.5s; transition-timing-function: ease-in-out;}
a:active { color: #CCAE86;}

/*Styling the top image*/
main > div.self-portrait {
height: 200px;
width: 300px;
margin-top: 15px;
background: /* top, transparent black */
linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, .15), rgba(255, 255, 255, .5)), /* bottom, image */
url(./images/self-portrait.png);
background-size: 300px 300px;
filter:grayscale(10%);
}
