
/*Global background texture*/
body {
  background-image: url(images/backgrounds/so-white/so-white.png);
  color: #363636;
  font-family: 'Roboto Condensed', sans-serif;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.175), rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.175)), url(images/backgrounds/so-white/so-white.png);
  -webkit-font-smoothing: antialiased;
}

/*Text Styling*/
h1, h2, h3, h4 {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

h1 {
  font-size: 30px;
  padding: 15px 30px;
}

h1 > span.light-text {
  font-weight: 300;
}

article#tidbits h4 {
  font-family: 'Rock Salt', cursive;
  font-size: 15px;
  text-transform: none;
}

p, li {
  font-size: 16px;
  letter-spacing: .5px;

}

nav a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 35px 25px 15px 25px;
}

.left-align {
  text-align: left;
}
li {
  padding: 5px;
}

ol {
  list-style: none;
}
/*Cool Little Divider*/
hr {
  border: 0;
  height: 1px;
  width: 75%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*Sizing semantic containers*/
header {
text-align: center;
padding: 60px 0px 30px 0px;
}

nav {
   width: 100%;
   padding: 25px 0px;
   background: linear-gradient(to right, rgba(0, 0, 0, 0.175), rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.175)), url(images/backgrounds/so-white/so-white.png);
   z-index: 10;
}
main {
  text-align: center;
}
footer {
  text-align: center;
  padding: 40px 0px 35px 0px;

}
main > section, main > div{
  width: 70%;
  text-align: center;
  padding: 20px 0px;
  margin: auto;
}

footer > article  {
  width: 70%;
  text-align: center;
  margin: auto;
}
ol > li  {
  text-align: center;
}

main > section#contact {
  width: 100%;
  z-index: 10;
}

.tidbit {
  padding-top: 100px;
}

/*This cool little CSS trick makes the navbar stick to the top!*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/*Styling the link images for LinkedIn, Github and Email!*/
.fa {
  padding: 20px 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: #A2805B;
}


.item {
  padding: 10px 10px;
}
/*Pseudo-classes for links*/
a:link {color: #363636;}
a:visited { color: #363636;}
a:hover { color: #009dff; transition: 0.5s; transition-timing-function: ease-in-out;}
a:active { color: #CCAE86;}

/*Having some fun with the navbar colors to relate to the portrait below*/
.blue-hover:hover{
  color: #009dff; transition: 0.5s; transition-timing-function: ease-in-out;
}
.orange-hover:hover{
  color: #ff7700; transition: 0.5s; transition-timing-function: ease-in-out;
}
.purple-hover:hover{
  color: #8600ff; transition: 0.5s; transition-timing-function: ease-in-out;
}
/*Styling the top image*/
main > div.self-portrait {
height: 200px;
width: 300px;
margin-top: 15px;
background: /* top, transparent black */
linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, .4)), /* bottom, image */
url(./images/self-portrait.png);
background-size: 300px 300px;
}

/*Media Queries*/

@media all and (min-width: 800px) {
  .wrapper {
    width: 50%;
    margin: auto;
  }

  .group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .item {
    flex: 1;
    padding: 25px 10px;
  }

  .musical {
    padding: 0px;
  }

  .fa {
    padding: 25px;
  }

  div.projects,
  div.contacts {
    flex-direction: row;
  }

.project-wrapper {
  width: 80%;
}

article#tidbits {
  width:35%;
}

#about-me ul {
  list-style: none;
}


}

@media all and (min-width: 1080px) {
  .main {
    width: 30%;
    margin: auto;
}
}
