/*
Global Color Palette:

$color1: #ffffff;
$color2: #000000;
$color3: #363636;
$color4: #e7dfc6;
$color5: #816c61;

*/

/*Global background texture*/
body {
  background-image: url(images/backgrounds/so-white/so-white.png);
  color: #363636;
  font-family: 'Roboto Condensed', sans-serif;
}

/*Text Styling*/
h1 {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

h1 > span.light-text {
  font-weight: 300;
}

p {
  font-size: 24px;
  color:white;
}

header {
text-align: center;
padding: 40px 0px

}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

nav a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 25px 25px 15px 25px;
}

nav {
   width: 100%;
   padding: 15px 0px;
}

a:link { color: #CCAE86; }
a:visited { color: #BCB8A5; }
a:hover { color: #A2805B; }
a:active { color: #363636;}
